      <div id="header">
        <a id="logo" href="/" title="Accueil" rel="home"><img src="{{theme.url_for_assets}}/images/logo.png" alt="Accueil" id="logo-image"></a>

        <ul id="navbar">
          <li><a href="http:///april.org/association" title="">L'association</a></li>
          <li><a href="http:///april.org/nos-positions" title="">Nos positions</a></li>
          <li><a href="http:///april.org/activites" title="">Activités</a></li>
          <li><a href="http:///april.org/themes" title="">Thèmes</a></li>
          <li><a href="http://wiki.april.org" title="">Wiki</a></li>
          <li class="active"><a href="{{show.url_for}}" title="">Audio</a></li>
          <li><a href="http:///april.org/nous-aider" title="">Nous aider</a></li>
        </ul>
      </div>
