html {color:#000;background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
{margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select {*font-size:100%;}
legend {color:#000;}
a { text-decoration: none }

body {
    font-family: Verdana,sans-serif;
    background: #e2e5e9 url('../images/background.gif') top repeat-x;
}

#page {
    margin: 0 auto;
    width: 1000px;
    border-left: 1px solid #AABACD;
    border-right: 1px solid #AABACD;
}

#logo {
    float: left;
}

#header {
    background: white url('../images/header.gif') top right no-repeat;
}

#header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#navbar {
    float: right;
    margin: 73px 8px 0 0;

    text-align: center;
}

#navbar li {
    display: inline;
    list-style-type: none;

    float: left;
    margin-right: 2px;
}

#navbar li a {
    display: block;
    padding: 2px 7px;
    height: 19px;

    font-size: 13px;
    font-weight: bold;

    border: 1px solid #E2E5E9;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-bottom: none;

    color: #005184;
    background: white url('../images/navbar_item.gif') top repeat-x;
}

#navbar li.active a {
    background: #005184 url('../images/navbar_item_selected.gif') top repeat-x;
    color: white; 
}

#main {
    clear:both;
}

h1 {
    background: #005184 url('../images/title.gif') bottom repeat-x;
    height: 40px;

    padding: 10px 0 0 20px;
    font-size: 22px;
    font-weight: normal;
    color: white;
}

h1 a {
    color: white;
}

#content {
    width: 750px;
    font-size: 0.875em;
    min-height: 600px;
}

#sidebar {
    float: right;
    width: 210px;
}

#sidebar .adherer {
    text-align: center;
}

#sidebar .adherer a {
    display: block;
}

#sidebar div {
    background-image: url('../images/sidebar.gif');
    background-repeat: repeat-x;
    border-bottom: 1px solid white;
    padding: 15px 10px;
}

#sidebar div p {
    color: #013A50;
    font-size: 0.8em;
    margin: 10px 0;
}

#sidebar div p a, #sidebar div p a:visited {
    color: #02739F;
}

#sidebar div.podcast img {
    float: right;
    margin-left: 10px;
}

#sidebar h3 {
    font-weight: bold;
    color: #EE5921;
    margin-bottom: 10px;
}

#content {
    padding: 20px;
    background: white;

    color: #013A50;
    padding: 3px 20px;
}

#content a, #content a:visited {
    color: #02739F;
}
#content a:hover {
    color: #005184;
}

#content .box {
    padding: 10px 17px;
    margin: 20px 0;

    border-bottom: 1px solid #E6EBED;
    background: #F3F6F7 url('../images/box.gif') bottom repeat-x;
}

#content p {
    margin: 0.5em 0;
}

#content .episodes img {
    float: right;
    margin-left: 10px;
}

#content .episodes .broadcast_date {
    float: right;
}

#content .listen p {
    margin: 0;
}

#content .listen {
    float: right;
    margin-left: 20px;
}

#content .listen .link {
    text-align: right;
}

#content .listen .image {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 15px;
}

#content .listen audio {
    margin-top: 5px;
}

#content .listen .audio {
    margin: 15px 0;
    border: #E2E5E9 solid 1px;
    padding: 0 15px 15px 0;
}

#content .listen .audio .ui360 {
    margin-bottom: -5px;
}

#content .ui360 {
    width: 300px;

}

h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #005184;
}

#content h2 a, #content h2 a:visited {
    color: #005184;
}

#footer {
    border-top: 1px solid #CFCFCF;
    background: #DFDFDF;
    text-align: right;
    font-size: 10px;
    padding: 0.5em 0.8em;
}

#footer a, #footer a:visited {
    color: #02739F;
}

#live audio {
    width: 100%;
}

#live a {
    font-size: 140%;
    font-weight: bold;
}